/* 搜索 */
#search-box{
    border-bottom: 1px solid threedshadow;
    border-top: 1px solid threedhighlight;
}
#search-box button{min-width:auto;width:50px;}
/* 树的样式 */
.v_myTree treechildren::-moz-tree-row(selected) { background-color: #ffa; }
.v_myTree treechildren::-moz-tree-cell-text { color: #000;cursor:pointer; padding-left:5px}
.v_myTree treechildren::-moz-tree-cell-text(selected) { color: #000; }
.v_myTree treechildren::-moz-tree-cell-text(hover) {text-decoration:underline;} 
